# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
/.vs
/KiCad_PCB_Files/fp-info-cache
/KiCad_PCB_Files/BuzzDuino.sch-bak
/KiCad_PCB_Files/BuzzDuino.kicad_pcb-bak
